<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    @entryPointStyles('app')
    @entryPointScripts('app')
    <title>app</title>
</head>
<body class="bg-color-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-color-3 fixed-top shadow-lg">
		<div class="container">

			{{--  logo  --}}

			<a class="navbar-brand" href="{{ route('home.index') }}">
				<i class="bi bi-card-checklist fs-2 text-color-1">
					RifasAPP
				</i>
			</a>

			{{--  botão hamburguer  --}}

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			{{--  div que collapsa  --}}

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active text-color-1" aria-current="page" href="{{ route('home.index') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-color-1" aria-current="page" href="{{ route('home.about') }}">About</a>
					</li>
					@if(auth.isLoggedIn)
					<li class="nav-item">
						<a class="nav-link active text-color-1" aria-current="page" href="{{ route('raffles.create') }}">Cadastrar Rifa</a>
					</li>
						@if(auth.user?.admin)
						<li class="nav-item">
							<a class="nav-link active text-color-1" aria-current="page" href="{{ route('types.create') }}">Cadastrar Tipos</a>
						</li>
						@endif
					@endif
				</ul>
				<ul class="navbar-nav">
				@if(auth.isLoggedIn)
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-color-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ auth.user?.name }}
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li>
								<a class="dropdown-item text-color-1" href="{{ route('auth.logout') }}">Sair</a>
							</li>
						</ul>
					</li>
				@else
					<li class="nav-item">
						<a class="nav-link" href="{{ route('auth.login') }}">
							<button class="btn btn-color-1">Login</button>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ route('auth.register') }}">
							<button class="btn btn-color-1">Registrar</button>
						</a>
					</li>
				@endif
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
	 {{--  {{ inspect(flashMessages.all()) }}  --}}
		@!section('content')
	</div>
</body>
</html>
